.numbers
    width: 100%
    margin-top: 72px

    &__mainstream
        margin-left: 115px

    &__numb
        margin-left: 580px

    &__cards
        display: flex
        justify-content: center
        width: 100%
        gap: 20px
        flex-wrap: wrap
        margin-top: 100px

    &__card
        width: 100%
        max-width: 322px
        height: 244px
        background: #766FB299
        border-radius: 12px