// components/ContactForm.module.sass

.container
    width: 100%
    // max-width: 1980px
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    background: #111111
    padding-bottom: 157px

.content
    display: flex
    width: 100%
    max-width: 1676px
    height: 581px
    border-radius: 12px
    background: #766FB2
    border-top-left-radius: 12px
    border-bottom-left-radius: 12px
    border-top-right-radius: 12px
    border-top-right-radius: 12px
    border: none

.info
    width: 100%
    max-width: 937px
    background: #FFFFFFFF
    border-top-left-radius: 12px
    border-bottom-left-radius: 12px
    border-top-right-radius: 12px
    border-top-right-radius: 12px
    padding-left: 69px

    &__logo
        margin-top: 257px

    &__title
        margin-bottom: 0.5rem
        color: #000000
        font-size: 81px
        font-family: nova-regular
        padding-top: 57px

    &__description
        color: #000000
        font-size: 31px
        font-family: nova-regular
        width: 100%
        max-width: 700px

.form
    width: 100%
    max-width: 740px
    border-top-left-radius: 12px
    border-bottom-left-radius: 12px
    border-top-right-radius: 12px
    border-top-right-radius: 12px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    gap: 60px

    &__input
        width: 100% !important
        width: 600px !important
        border-left: none
        border-right: none
        border-bottom: none
        outline: none
        color: #5B539D !important
        padding-left: 85px
        font-size: 43px !important
        border-color: #FFFFFF !important    
        outline-color: #FFFFFF !important

    &__submit
        width: 100% !important
        max-width: 517.72px !important
        height: 96.12px !important
        background: #FFFFFF !important
        border-radius: 12px !important
        border: none
        color: #766FB2 !important
        font-family: Arial, Helvetica, sans-serif !important
        font-size: 34px !important
        margin-left: 100px
