@font-face {
  font-family: nova-black;
  src: url(/assets/fonts/proximanova_black.ttf);
}

@font-face {
  font-family: nova-blackit;
  src: url(/assets/fonts/proximanova_blackit.otf);
}

@font-face {
  font-family: nova-bold;
  src: url(/assets/fonts/proximanova_bold.otf);
}

@font-face {
  font-family: nova-boldit;
  src: url(/assets/fonts/proximanova_boldit.otf);
}

@font-face {
  font-family: nova-extrabold;
  src: url(/assets/fonts/proximanova_extrabold.otf);
}

@font-face {
  font-family: nova-light;
  src: url(/assets/fonts/proximanova_light.otf);
}

@font-face {
  font-family: nova-regular;
  src: url(/assets/fonts/proximanova_regular.ttf);
}

@font-face {
  font-family: contrax;
  src: url(/assets/fonts/conthrax-sb.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus-visible {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
