@import "../../styles/variables"
@import "../../styles/mixins"

.container
    display: flex
    width: 100%
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    z-index: 2

    &__smm
        width: 100%
        max-width: 1920px
        height: 1344px
        background-image: url("/assets/img/smd.jpg")
        background-repeat: no-repeat
        object-fit: fill
        background-size: cover
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        padding-left: 70px
        overflow: hidden

        @media (max-width: 1024px)
            height: auto
            padding-left: 40px

        @media (max-width: 769px)
            height: 1000px
            padding-left: 20px
            background-position: top
            background-size: cover


    &__phone
        width: 100%
        max-width: 410px
        height: 883px
        background-repeat: no-repeat
        margin-top: 210px
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        margin-left: -67px
        overflow: hidden

        @media (max-width: 1024px)
            max-width: 350px
            height: auto
            margin-top: 150px

        @media (max-width: 769px)
            max-width: 300px
            height: auto
            margin-top: 100px
            margin-left: 0

        video
            width: 100%
            height: 100%
            object-fit: contain
            border-radius: 30px
            @media (max-width:769px)
                object-fit: fill
                width: 100%
                height: 100%
                // display: none