@import "../../styles/variables"
@import "../../styles/mixins"
.navbar
    width: 100%
    height: 131px
    display: flex
    background: #766FB2
    padding-top: 50px
    justify-content: space-between
    padding-left: 59px
    transition: height 0.3s ease // Smooth transition for height change
    @media (max-width: 769px)
        padding-left: 20px
        padding-right: 20px
        flex-direction: column
        align-items: flex-start
        height: 100% // Default to full height

    &__header
        // display: flex
        // justify-content: space-between
        // width: 100%
        @media (max-width: 769px)
            gap: 50px
            display: flex
            justify-content: space-between
            width: 100%

    &__logo
        @media (max-width: 769px)
            width: 250px

    &__toggle
        display: none
        font-size: 40px
        cursor: pointer
        background: none
        border: none
        color: white
        text-align: center
        @media (max-width: 769px)
            display: flex
            margin-top: -12px

    &__section
        display: flex
        gap: 55px
        transition: all 0.3s ease // Smooth transition for display change
        @media (max-width: 769px)
            display: none
            flex-direction: column
            gap: 20px
            width: 100%
            align-items: flex-start
            &.navbar__section_open
                display: flex

    &__menu
        display: flex
        list-style: none
        gap: 20px
        @include font(24px, $white ,  nova-light)
        cursor: pointer
        font-family: nova-regular !important
        @media (max-width: 769px)
            flex-direction: column
            gap: 10px
            width: 100%

    &__course
        width: 290px
        height: 131.94px
        background: #FFFFFF
        margin-top: -50px
        border-radius: 100px 0 0 100px
        font-family: Proxima Nova
        font-size: 30px
        text-align: center
        color: #000000
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        font-family: nova-regular
        @media (max-width: 769px)
            margin-top: 10px // Adjust margin as needed
