@import "../../styles/variables"
@import "../../styles/mixins"

.navbar
    width: 100%
    height: 131px
    display: flex
    // justify-content: space-between
    background: $mainColor
    padding-top: 50px
    padding-left: 59px

    &__menu
        display: flex
        list-style: none
        gap: 20px
        @include font(24px, $white ,  nova-blackit)
        cursor: pointer
        font-family: nova-regular !important
