.partners
    margin-top: 122px
    width: 100%
    height: 858px
    background: #0A0A0A

    &__title
        font-size: 53px
        color: #FFFFFF
        font-family: nova-regular
        padding-top: 75px
        padding-left: 113px

    &__carousel
        display: flex
        flex-direction: column
        gap: 25px
        margin-top: 42px

    &__slideone
        width: 100%
        height: 163px
        background-image: url('/assets/img/clients1.png'), url('/assets/img/clients1.png')
        background-repeat: repeat-x
        background-size: 200% 100%
        animation: slideoneAnimation 13s linear infinite

        @keyframes slideoneAnimation
            0%
                background-position: 0 0, 100% 0
            100%
                background-position: -100% 0, 0 0

    &__slidetwo
        width: 100%
        height: 179px
        background-image: url('/assets/img/clients2.png'), url('/assets/img/clients2.png')
        background-repeat: repeat-x
        background-size: 200% 100%
        animation: slidetwoAnimation 13s linear infinite
        @keyframes slidetwoAnimation
            0%
                background-position: 0 0, -100% 0
            100%
                background-position: 100% 0, 0 0

    &__desc
        color: #FFFFFF
        font-size: 40px
        text-align: center
        padding-top: 45px
        font-family: nova-regular

    &__section
        display: flex
        margin-top: 90px
        display: flex
        justify-content: center
        align-items: center
        align-content: center

    &__line
        width: 3.39px
        height: 67.05px
        background: #FFFFFF
        margin-left: 38px

    &__insta
        width: 100%
        max-width: 493.42px
        background: #766FB2
        height: 92.47px
        border-radius: 15px
        border: none
        margin-left: 22px

    &__icon
        font-size: 55px
        color: #FFFFFF
