.work {
  background: #D9D9D9;
  height: 1209px;
  padding-top: 122px;
}

.work__title {
  width: 100%;
  max-width: 1328.37px;
  height: 143px;
  background-image: url("/assets/img/work.png");
  background-repeat: no-repeat;
  color: #766FB2;
  font-size: 88px;
  text-align: center;
  font-family: contrax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__stage {
  width: 100%;
  height: 590px;
  background-image: url("/assets/img/stage.png");
  background-repeat: no-repeat;
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  position: relative;
}

.work__info {
  display: flex;
  gap: 44px;
  padding-left: 405px;
}

.work__number {
  color: #FFFFFF;
  font-size: 70px;
  font-family: contrax;
  padding-top: 6px;
}

.work__desc {
  color: #FFFFFF;
  font-family: nova-regular;
  font-size: 35px;
  padding-top: 26px;
  width: 100%;
  max-width: 665px;
}

.work__numberlast {
  color: #FFFFFF;
  font-size: 70px;
  font-family: contrax;
}

.work__desclast {
  color: #FFFFFF;
  font-family: nova-regular;
  font-size: 35px;
  width: 100%;
  max-width: 665px;
  padding-top: 15px;
}

.work__desctwo {
  color: #FFFFFF;
  font-family: nova-regular;
  font-size: 35px;
  width: 100%;
  max-width: 665px;
}

.work__subtitle {
  color: #000000;
  font-family: nova-regular;
  padding-top: 48px;
  padding-left: 138px;
  width: 100%;
  font-size: 32px;
  max-width: 1177px;
}

.work__sectionContainer {
  display: flex;
}

.work__sectiontwo {
  width: 100%;
  max-width: 705px;
  height: 1253px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/bot.png");
  position: relative;
  margin-left: 1215px;
  top: -1150px;
  z-index: 1;
}
